<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Futboll Stats</title>
</head>
<body>
  <div class="headline">
        <h2 style="color:rgba(9, 9, 9)">Club Team Show Page</h2>
        <a href="/teams" class="button" style="color:rgb(65, 196, 189)">Back</a>
    </div>
    <div class="container">
      <table>
          <tr>
              <th>Name</th>   
              <td><%= team.name%></td>
              <td><img src="<%= team.img%>" alt="team image" height='100' width='100'></td>
          </tr>

          <tr>
              <th>League</th>
              <% for (let i = 0; i < team.length; i++) { %>
              <td><%= team[i]%></td>
              <% } %>
          </tr>

          <tr>
              <th>Stats</th>
              <% for (let key in team.stats) {%>
              <td><%= key%>: <%= team.stats[key]%> </td>
              <%}%>
          </tr>
         </table>

        <section>
              <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Team" />
           </form>
        </section>
       </div>
    </main> 
  </body>
</html>