<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  
  <link rel="stylesheet" href="style.css" class="style">
  <title>Futboll Stats</title>
</head>
<body>
  <header>
    <div class="headline">
        <h2 style="color:rgba(9, 9, 9)">Club Team Show Page</h2>
        <a href="/teams" class="button" style="color:rgb(65, 196, 189)">Back</a>
    </div>
  </header>
    <div class="container">
      <table>
          <tr>
              <th>Name</th>   
              <td><%= team.name %></td>
              <td><img src= "<%= team.image %>" alt="team image" height='100' width='100'></td>
          </tr>
          <tr>
            <th>League</th>   
            <td><%= team.league%></td>
          </tr>
          <tr>
            <th>founded</th>   
            <td><%= team.founded%></td>
          </tr>
          <tr>
            <th>Coach</th>   
            <td><%= team.coach%></td>
          </tr>
          <tr>
            <th>Championships</th>   
            <td><%= team.championships%></td>
          </tr>
          <tr>
            <th>Losses</th>   
            <td><%= team.losses%></td>
        </tr>
          
         </table>

        <section>
              <form action="/teams/<%= team._id %>?_method=DELETE" method="POST">
            <input type="submit" value="Delete Team" />
           </form>
        </section>
       </div>
    </main> 
  </body>
</html>